<IfModule mod_mime.c>
  AddType image/x-icon .ico
  AddType application/manifest+json .webmanifest
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "(^favicon.*\.ico$|^favicon.*\.png$|^apple-touch-icon\.png$|^site\.webmanifest$)">
    Header set Cache-Control "public, max-age=3600, must-revalidate"
  </FilesMatch>
</IfModule>
